@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0;
    padding: 0;
}

.body-content {
    padding-top: 3%;
}
.page {
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(252, 251, 251, 0.76);
}
.assigned-font {
    font-family: 'Lato', sans-serif;
}
tr {
    background-color: rgba(252, 251, 251, 0.76);
}


.actions a {
    display: inline-flex;
    flex-direction: row;
    font-size: 14px;
    padding: 12px 20px;
    justify-content: center;
    width: 21%;
    border-radius: 50px;
    background-color: #ff6107;
}

h2 {
    padding-left: 1%;
    color: #6d6d6d;
}


.container__main-button {
    margin-bottom: 3%;
}

.btn-create {
    font-size: 16px;
    padding: 1%;
    background-color: #ff6107;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
}
 .actions {
     width: 20%;
 }
td {
    width: 3%;
}
