@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 class="table-font">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="table-font">
        Please check your email to reset your password.
    </p>
</div>
	
