@model ManagementTool.Roles.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Delete role";
}

<h3 class="table-font">Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt class="table-font">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="table-font">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color table-font">
        <input type="submit" value="Delete" class="btn btn-default">
        <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index")'" class="btn btn-default action_title" />
    </div>
    }
</div>
