@model ManagementTool.Roles.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Role details";
}
<div>
    <dl class="dl-horizontal">
        <dt class="table-font">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="table-font">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p class="action_title">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
