@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="assigned-font">Project Management Tool</h1>
    <p class="lead table-font">Project Management Tool is a free web tool for managing your project activity</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="assigned-font">Use it now</h2>
        <p class="table-font">
            Project Management Tool gives you an opportunity to manage overall process of work,
            by delegating tasks and tracking the progress
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="assigned-font">Assign Users</h2>
        <p class="table-font">
            You can register users with different rights and assign tasks to them
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="assigned-font">Send notifications</h2>
        <p class="table-font">
            All people receive automatic notifications, if they were assigned to a certiain task
        </p>
    </div>

</div>